<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB39eBesudAa9DO6LpvsGKT8QcPIsTuNeA</string>
	<key>GCM_SENDER_ID</key>
	<string>448818012886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>laromabeauty.ezs</string>
	<key>PROJECT_ID</key>
	<string>laroma-beauty</string>
	<key>STORAGE_BUCKET</key>
	<string>laroma-beauty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448818012886:ios:7715824284148e7cc05f77</string>
	<key>DATABASE_URL</key>
	<string>https://laroma-beauty-default-rtdb.firebaseio.com</string>
</dict>
</plist>